a, a:focus, a:hover{
    color: #c8102e;
}
.nav-link.btn.btn-neutral {
	border-color: #c8102e;
	border-bottom-color: #c8102e;
	border-left-color: #c8102e;
	border-right-color: #c8102e;
	border-top-color: #c8102e;
	color: #c8102e;
}
.nav-link.btn.btn-neutral:nth-child(1) > p:nth-child(2) {
	border-color: #c8102e;
	color: #c8102e;
}
.category.category-absolute:nth-child(2) > a:nth-child(1) {
	border-color: #c8102e;
	color: #c8102e;
}
.category.category-absolute:nth-child(2) > a:nth-child(2) {
	border-color: #c8102e;
	color: #c8102e;
}
.btn.btn-primary {
	background-color: #c8102e;
	background-color: #c8102e;
	background-color: #c8102e;
	background-color: #c8102e;
}
.btn.btn-primary.btn-round {
	background-color: #c8102e;
	background-color: #c8102e;
}
.btn.btn-primary.btn-icon.btn-round {
	background-color: #c8102e;
}
.btn.btn-primary.btn-simple.btn-round {
	border-color: #c8102e;
	border-bottom-color: #c8102e;
	border-left-color: #c8102e;
	border-right-color: #c8102e;
	border-top-color: #c8102e;
	color: #c8102e;
}
.btn.btn-primary.btn-sm {
	background-color: #c8102e;
}
.btn.btn-primary.btn-lg {
	background-color: #c8102e;
}
.btn-neutral {
	border-color: #c8102e;
	border-bottom-color: #c8102e;
	border-left-color: #c8102e;
	border-right-color: #c8102e;
	border-top-color: #c8102e;
	color: #c8102e;
}
.btn.btn-link.btn-primary {
	border-color: #c8102e;
	border-bottom-color: #c8102e;
	border-left-color: #c8102e;
	border-right-color: #c8102e;
	border-top-color: #c8102e;
	color: #c8102e;
}
.bg-primary {
	background-color: #c8102e !important;
}
.progress-badge {
	border-color: #c8102e;
	color: #c8102e;
}
.progress-bar.progress-bar-warning {
	background-color: #c8102e;
}
.progress-value {
	border-color: #c8102e;
	color: #c8102e;
}
/* .nav-link.active {
	background-color: #c8102e;
} */
.page-link {
	background-color: #c8102e;
	border-color: #c8102e;
	border-bottom-color: #c8102e;
	border-left-color: #c8102e;
	border-right-color: #c8102e;
	border-top-color: #c8102e;
}
.badge.badge-primary {
	background-color: #c8102e;
	border-color: #c8102e;
}
.blockquote.blockquote-primary {
	border-color: #c8102e;
	color: #c8102e;
}
.blockquote.blockquote-primary:nth-child(1) > small:nth-child(3) {
	border-color: #c8102e;
	color: #c8102e;
}
.text-primary {
	border-color: #c8102e;
	color: #c8102e !important;
}
.btn.btn-primary.btn-round.btn-lg {
	background-color: #c8102e;
}
.btn.btn-primary.btn-simple.btn-round.btn-lg {
	border-color: #c8102e;
	border-bottom-color: #c8102e;
	border-left-color: #c8102e;
	border-right-color: #c8102e;
	border-top-color: #c8102e;
	color: #c8102e;
}
.card.card-signup {
	background-color: #c8102e;
}
.btn.btn-neutral.btn-round.btn-lg {
	border-color: #c8102e;
	border-bottom-color: #c8102e;
	border-left-color: #c8102e;
	border-right-color: #c8102e;
	border-top-color: #c8102e;
	color: #c8102e;
	border-color: #c8102e;
	border-bottom-color: #c8102e;
	border-left-color: #c8102e;
	border-right-color: #c8102e;
	border-top-color: #c8102e;
	color: #c8102e;
}
.btn.btn-primary.btn-lg.btn-round {
	background-color: #c8102e;
}
.modal.modal-primary .modal-content {
	background-color: #c8102e;
}
#sliderDouble {
	background-color: #c8102e4d;
}
.progress {
	background-color: #c8102e4d;
}
.nav.nav-tabs.nav-tabs-neutral.justify-content-center {
	background-color: #df213f;
}

.category {
    color: #122356;
}

.form-control:focus{
    border-color: #122356
}

.form-check input[type=checkbox]:disabled+.form-check-sign:before, 
.form-check input[type=radio]:disabled+.form-check-sign:before{
	background-color: #e3e3e3;
}

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary:disabled, .btn-primary:disabled.active, .btn-primary:disabled.focus, .btn-primary:disabled:active, .btn-primary:disabled:focus, .btn-primary:disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #c8102e;
    border-color: #c8102e;
}

.btn:disabled:focus, .btn:disabled:hover{
	opacity: 0.65;
}

.datepicker.datepicker-primary {
    background-color: #c8102e;
}

.datepicker.datepicker-primary table tr td.active.disabled:hover div, .datepicker.datepicker-primary table tr td.active.disabled div, .datepicker.datepicker-primary table tr td.active:hover div, .datepicker.datepicker-primary table tr td.active div {
    color: #c8102e;
}

.datepicker table tr td.active.disabled:hover div, .datepicker table tr td.active.disabled div, .datepicker table tr td.active:hover div, .datepicker table tr td.active div {
    background-color: #c8102e;
}

.datepicker table tr td.active.active div, .datepicker table tr td.active.disabled.active div, .datepicker table tr td.active.disabled.disabled div, .datepicker table tr td.active.disabled:active div, .datepicker table tr td.active.disabled:hover.active div, .datepicker table tr td.active.disabled:hover.disabled div, .datepicker table tr td.active.disabled:hover:active div, .datepicker table tr td.active.disabled:hover:hover div, .datepicker table tr td.active.disabled:hover[disabled] div, .datepicker table tr td.active.disabled:hover div, .datepicker table tr td.active.disabled[disabled] div, .datepicker table tr td.active.disabled div, .datepicker table tr td.active:active div, .datepicker table tr td.active:hover.active div, .datepicker table tr td.active:hover.disabled div, .datepicker table tr td.active:hover:active div, .datepicker table tr td.active:hover:hover div, .datepicker table tr td.active:hover[disabled] div, .datepicker table tr td.active:hover div, .datepicker table tr td.active[disabled] div {
    background-color: #c8102e;
}

.datepicker.datepicker-primary:after {
    border-bottom-color: #c8102e;
}

.datepicker.datepicker-primary table tr td span.active.active, .datepicker.datepicker-primary table tr td span.active.disabled, .datepicker.datepicker-primary table tr td span.active.disabled.active, .datepicker.datepicker-primary table tr td span.active.disabled.disabled, .datepicker.datepicker-primary table tr td span.active.disabled:active, .datepicker.datepicker-primary table tr td span.active.disabled:hover, .datepicker.datepicker-primary table tr td span.active.disabled:hover.active, .datepicker.datepicker-primary table tr td span.active.disabled:hover.disabled, .datepicker.datepicker-primary table tr td span.active.disabled:hover:active, .datepicker.datepicker-primary table tr td span.active.disabled:hover:hover, .datepicker.datepicker-primary table tr td span.active.disabled:hover[disabled], .datepicker.datepicker-primary table tr td span.active.disabled[disabled], .datepicker.datepicker-primary table tr td span.active:active, .datepicker.datepicker-primary table tr td span.active:hover, .datepicker.datepicker-primary table tr td span.active:hover.active, .datepicker.datepicker-primary table tr td span.active:hover.disabled, .datepicker.datepicker-primary table tr td span.active:hover:active, .datepicker.datepicker-primary table tr td span.active:hover:hover, .datepicker.datepicker-primary table tr td span.active:hover[disabled], .datepicker.datepicker-primary table tr td span.active[disabled] {
    color: #c8102e;
}

.datepicker table tr td span.active.active, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled.disabled, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover.active, .datepicker table tr td span.active.disabled:hover.disabled, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.disabled:hover:hover, .datepicker table tr td span.active.disabled:hover[disabled], .datepicker table tr td span.active.disabled[disabled], .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active:hover.disabled, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active:hover:hover, .datepicker table tr td span.active:hover[disabled], .datepicker table tr td span.active[disabled] {
    background-color: #c8102e;
}

.datepicker table tr td span.active, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active:hover {
    background-color: #c8102e;
}