body, html{
    height: 100%;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    border-right: 1px solid #0000001a;
    z-index: 9999;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar a[aria-expanded="true"], #sidebar .nav-item > a:hover, #sidebar .nav-item > a.active {
    background-color: #c8102e;
    border-radius: .1875rem;
    color: #fff;
}

#sidebar ul ul .nav-link.active, #sidebar ul ul .nav-link:hover{
    color: #343a40;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    transition: all 0.3s;
    min-width: 320px;
    position: relative;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: transparent;
    cursor: pointer;
    outline: 0;
    border: none;
}

#sidebarCollapse span {
    margin-top: 0;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
    display: block;
    position: relative;
    width: 22px;
    height: 1px;
    border-radius: 1px;
    background: #fff;
    transition: all .2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(1px, -1px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
    width: 17px;
    transition: width .2s linear;
}
#sidebarCollapse:hover span:nth-of-type(2) {
    width: 22px;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
}

#sidebarCollapse.active span+span {
    margin-top: 7px;
}

/* ---------------------------------------------------
    FOOTER
----------------------------------------------------- */

footer{
    position: absolute;
    bottom: 0;
}

footer small {
    font-size: 0.8rem;
}

/* ---------------------------------------------------
    FORMS
----------------------------------------------------- */

.form-group .error-msg {
    line-height: 1rem;
}

/* ---------------------------------------------------
    TOASTS
----------------------------------------------------- */

.bootoast-container.bottom {
    bottom: 40px;
}

.bootoast-container .alert-dismissible .close{
    top: 28%;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        /* transform: rotateY(90deg); */
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
        /* position: absolute;
        min-height: 100vh; */
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
    }

    #sidebarCollapse span+span {
        margin-top: 7px;
    }
    #sidebarCollapse.active span+span {
        margin-top: 0;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}
